<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="learnWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="server" value="127.0.0.1" />
    <add key="port" value="49251" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <learnWPF.Properties.Settings>
      <setting name="ServerIP" serializeAs="String">
        <value>"127.0.0.1"</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>8000</value>
      </setting>
      <setting name="MazeRows" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MazeCols" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SearchAlgorithm" serializeAs="String">
        <value>0</value>
      </setting>
    </learnWPF.Properties.Settings>
  </applicationSettings>
</configuration>